$gold: #f4bc33;
$cobalt: #004aad;
$grey: #a6acaf;
$black: #000000;
$white: #ffffff;
$green: #23d160;
$red: #ff3860;



// Update Bulma's global variables
$body-family: "Poppins Regular", sans-serif;
$body-color: $black;
$primary: $cobalt;
$success: $gold;
$warning: $grey;
$info: $white;
$link: $green;
$body-background-color: $grey;
$title-font-size: 3rem !important;
$subtitle-font-size: 2.5rem !important;
$list-style-type: none;
$breadcrumb-item-padding-vertical: 3;
$breadcrumb-item-color: $black;
$breadcrumb-item-hover-color: $gold;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

